---
import { getMatchResult } from '@/util/getMatchResult'
import type { GroupDetails } from '@/util/stats-api'

interface Props {
  group: GroupDetails
}

const { group } = Astro.props

const result = getMatchResult(group)
---

<div class="relative z-10 flex flex-col items-center justify-center gap-4">
  <div class="flex items-center gap-2 text-4xl font-bold text-white">
    <p>{result.alpha}</p>
    <span>:</span>
    <p>{result.beta}</p>
  </div>
  <div class="flex flex-col items-center justify-center">
    {
      group.match.maps.map((map) => (
        <span class="text-sm text-white lg:text-lg">{map}</span>
      ))
    }
  </div>
</div>
