---
import { type Weapon } from "../../util/convertWeaponStats";
import { getTotalKills, getTotalDeaths } from "../../util/weaponUtils.ts";
import { getColoredNameParts } from "../../util/coloredNames.ts";

interface Props {
  name: string;
  weaponStats: Weapon[];
}

const { name, weaponStats } = Astro.props;
---

<style>
  td,
  tr {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-collapse: collapse;
  }

  td {
    padding: 6px;
  }

  .name-part {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
</style>

<tr>
  <td>
    {
      getColoredNameParts(name).map(({ color, text }) => (
        <span class="name-part" style={{ color }}>
          {text}
        </span>
      ))
    }
  </td>
  <td>{getTotalKills(weaponStats)}</td>
  <td>{getTotalDeaths(weaponStats)}</td>
</tr>
