---
import { getTotalDeaths, getTotalKills } from '../../util/weaponUtils.ts'
import { getColoredNameParts } from '../../util/coloredNames.ts'
import { type Weapon } from '../../util/convertWeaponStats'

interface Props {
  name: string
  weaponStats: Weapon[]
}

const { name, weaponStats } = Astro.props
---

<style>
  td,
  tr {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-collapse: collapse;
  }

  td span {
    padding: 6px;
  }
</style>

<tr>
  <td>
    {
      getColoredNameParts(name).map(({ color, text }) => (
        <span style={{ color }}>{text}</span>
      ))
    }
  </td>
  <td>{getTotalKills(weaponStats)}</td>
  <td>{getTotalDeaths(weaponStats)}</td>
</tr>
