---
import { getMatchSize } from '../../util/getMatchSize.ts'
import Layout from '../../layouts/Layout.astro'
import { statsApi } from '../../util/stats-api'
const data = await statsApi.fetchGroups()
---

<Layout title="ETL Stats">
  <main>
    <h1>Groups</h1>
    <ul>
      {
        data.map((group) => (
          <li>
            <a href={`/groups/${group.match_id}`}>
              {group.match_id} - {getMatchSize(group.size)} -{' '}
              {group.maps.join(', ')}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
