---
import { getColoredNameParts } from '@/util/coloredNames'
import type { Player } from '@/util/stats-api'

interface Props {
  players: Player[]
  team: string
}

const { players, team } = Astro.props
---

<div class="z-10 flex flex-col items-center justify-center gap-6 text-xl">
  <h3 class="text-sm font-bold text-white lg:text-xl">{team}</h3>
  <div class="flex flex-col items-center">
    {
      players.map((player) => (
        <div class="text-sm lg:text-xl">
          {getColoredNameParts(player.nick).map((part) => (
            <span
              style={{
                color: part.color,
                textShadow: `1px 1px 0px #000`,
              }}
            >
              {part.text}
            </span>
          ))}
        </div>
      ))
    }
  </div>
</div>
