html {
  --etl-text: 0 0% 20%;
  --etl-bg: 0 0% 100%;
  --etl-bg-100: 0 0% 98%;
  --etl-bg-200: 0 0% 96%;
  --etl-100: 0 80% 95%;
  --etl-200: 0 77% 92%;
  --etl-300: 0 76% 85%;
  --etl-400: 0 76% 80%;

  scrollbar-color: hsl(var(--etl-300)) hsl(var(--etl-100));
}

html.dark {
  color-scheme: dark;
  --etl-text: 0 0% 97%;
  --etl-bg: 0 0% 7%;
  --etl-bg-100: 240 4% 9%;
  --etl-bg-200: 240 7% 11%;
  --etl-100: 0 71% 3%;
  --etl-200: 0 73% 4%;
  --etl-300: 0 76% 7%;
  --etl-400: 0 77% 14%;
}

.changing-theme,
.changing-theme * {
  transition: none !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
